.login-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;
}

.login-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;

  width: 400px;
  height: 400px;
  padding: 3rem 0;
  border: none;
  border-radius: 30px;
  
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  background-color: #422C76;
}

.login-form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;

  padding: 1rem;
}

.title {  
  font-size: 2.5rem;
  color: #FAF9F5;
}

.span-text {
  font-weight: 500;
  color: #FF2F69;
}
